# build artifacts
.vs/
**/obj/
example*/bin/*
!example*/bin/data/
example*/bin/data/*
!example*/bin/data/**/
!example*/bin/data/**/*
dll/
*.pdb
*.ilk
*.user
*.suo
*.exe
*.dll
addons.lnk

*.lib

*.exp
